@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sancreek&display=swap');

.x1,h1{
 text-align: center;
}
body{
    background-color: rgb(105, 238, 238);
}
.sec1{
    padding: 30px;
    margin: 25px;
    width: 400px;
    height: 200px;
    background-color: rgb(51, 51, 119);
    color: white;
    justify-self: center;


}
.sec2{
    padding: 30px;
    margin: 25px;
    width: 400px;
    height: 200px;
    background-color: rgb(35, 168, 68);
    color: white;
    justify-self: center;
}
.sec3{
    padding: 30px;
    margin: 25px;
    width: 400px;
    height: 200px;
    background-color: rgb(182, 23, 57);
    color: white;
    justify-self: center;
}
h2{

    font-family: "Sancreek", serif;
    font-weight: 400;
    font-style: normal;
}
p{
    font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
}
h1{
    font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}